*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Philosopher', sans-serif;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header,
#footer {
    margin: 0;
    padding: 0;
    border: 2px solid #0066FF;
    text-align: center;
    background-color: #33ADFF;
    border-radius: 10px;
}

header .link_a{
    background-color: #0066FF;
    border-radius: 10px;
}

header .link,
header .link_a,
#footer a {
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}
header .link:hover,
#footer a:hover {
    border-radius: 5px;
    background-color: #0066FF;
}

 #footer h3 {
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}
.button{
	position: fixed; 
    bottom: 10px; 
    right: 10px;
	z-index: 1;
}
.button-icon{
    width: 50px;
    border-radius: 50px;
    transform: rotate(180deg);
}
@media screen and (max-width: 1023px) and (min-width: 501px){
    header .link_a,
    header .link,
    #footer a,
    #footer h3{
        font-size: 16px;
    }
    .button-icon{
        width: 40px;
    }
}
@media screen and (max-width: 500px) {
    header .link_a,
    header .link,
    #footer a,
    #footer h3{
        font-size: 14px;
    }
    .button-icon{
        width: 30px;
    }
}